k6/results/*
sitespeed-results/*
sitespeed/results/*
node_modules/
.bundle/
vendor/bundle/
/.ruby-gemset
/.ruby-version
/out/
tmp/
/.vscode
.idea
package-lock.json
.DS_Store
sitespeed/environments/host.docker.internal.txt
