k6/results/*
results/*
k6/tests/git/push_data/data/*
node_modules/
.bundle/
vendor/bundle/
/.ruby-gemset
/.ruby-version
/out/
tmp/
/.vscode
.idea
package-lock.json
.DS_Store
.gitlab/ci/gpt-k6-compare-jobs.yml
